@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Seteo de fuente a todo el body */
body {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Establece el alto mínimo de la página al 100% del viewport height (vh) */
  margin: 0;
  padding: 0;
}

.bannerMainImage {
  width: 100%;
  height: 60vh;
}
.bannerMainImage .conteinerMainImage {
  width: 100%;
  height: 100%;
}
.bannerMainImage .conteinerMainImage .mainImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.conteinerProducts {
  margin: 1rem auto;
}
.conteinerProducts .card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  align-items: center;
  height: 25rem;
}
.conteinerProducts .card .cardDescription {
  position: absolute;
  bottom: 0;
}

.productsTitle {
  margin-top: 1rem;
  text-align: center;
  font-size: 4rem;
}

.conteinerHowWeWork {
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
}
.conteinerHowWeWork .card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  align-items: center;
  height: 25rem;
}
.conteinerHowWeWork .card .card-body {
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
}
.conteinerHowWeWork .card .card-body .card-title {
  background-color: #FFDE00;
  text-align: center;
  height: 2rem;
  font-weight: 800;
}
.conteinerHowWeWork .card .card-body .card-text {
  padding: 12px;
}

.contactPage {
  margin-top: 5rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.contactPage .contactBox {
  margin: 30px auto;
  width: 400px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.contactPage .contactBox .formTitle {
  background-color: #FFDE00;
  text-align: center;
}
.contactPage .contactBox .contactForm {
  margin-left: 1rem;
  margin-right: 1rem;
}
.contactPage .contactBox .contactForm .contactFormButtons {
  display: flex;
  justify-content: space-around;
  padding-bottom: 1rem;
}
.contactPage .contactBox .contactForm .contactFormButtons .contactFormButton {
  border-radius: 10px;
  color: #FFDE00;
}

.aboutUsTitle {
  margin-top: 30px;
  margin-bottom: 4rem;
  text-align: center;
  font-weight: 800;
}

.aboutPage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.aboutPage .aboutUsBox {
  margin-left: 10rem;
}
.aboutPage .aboutUsBox .card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  align-items: center;
  height: 25rem;
}
.aboutPage .aboutUsBox .card .card-body {
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
}
.aboutPage .aboutUsBox .card .card-body .card-text {
  padding: 12px;
}

.aboutUsTitle {
  margin-top: 30px;
  margin-bottom: 4rem;
  text-align: center;
  font-weight: 800;
}

.aboutPage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.aboutPage .aboutUsBox {
  margin-left: 10rem;
}
.aboutPage .aboutUsBox .card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  align-items: center;
  height: 25rem;
}
.aboutPage .aboutUsBox .card .card-body {
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
}
.aboutPage .aboutUsBox .card .card-body .card-text {
  padding: 12px;
}

.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  align-items: center;
  height: 25rem;
}
.card .card-body {
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
}
.card .card-body .card-text {
  padding: 12px;
}

footer {
  background: rgb(2, 0, 36);
  background: linear-gradient(0deg, rgb(2, 0, 36) 0%, rgb(2, 0, 36) 53%, rgb(255, 222, 0) 88%, rgb(255, 255, 255) 100%);
  color: #FFDE00;
  bottom: 0;
  width: 100%;
  height: 60%;
}
footer .footerBox {
  margin-top: 12rem;
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
}
footer .footerBox .footerTitle {
  padding-top: 3rem;
  font-weight: 800;
}
footer .footerBox .social-icons {
  margin-bottom: 1rem;
  text-align: center;
}
footer .footerBox .social-icons .social-icon {
  display: inline-block;
  margin: 0 10px;
  font-size: 24px;
  color: #FFDE00; /* Color de los íconos */
}
footer .footerBox .social-icons .social-icon:hover {
  color: #a49999; /* Cambia el color al pasar el cursor sobre los íconos */
}

main {
  flex-grow: 1;
}

label {
  font-weight: bold;
}

input[type=text], textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

textarea {
  height: 150px;
  max-height: 300px;
  resize: vertical;
}

button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}

button[type=reset] {
  background-color: black;
}/*# sourceMappingURL=styles.css.map */