@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Seteo de fuente a todo el body */
body {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Establece el alto mínimo de la página al 100% del viewport height (vh) */
  margin: 0;
  padding: 0;
}

.brandName {
  margin-top: 1rem;
  color: rgb(0, 0, 0);
  font-size: 24px; /* Tamaño del texto */
  font-weight: bold; /* Estilo del texto (negrita) */
  text-shadow: 3px 3px 4px rgb(255, 217, 45);
}

main {
  flex-grow: 1;
}

#banner {
  width: 100%;
  height: 50vh;
  background-image: url("../assets/images/mainImage.avif"); /* Ruta de tu imagen de fondo */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el banner */
  background-position: center; /* Centra la imagen de fondo */
  text-align: initial;
  color: white;
}
#banner h1 {
  padding-top: 10px;
  padding-left: 2px;
  font-size: 46px; /* Tamaño del texto */
  font-weight: bold; /* Estilo del texto (negrita) */
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.874); /* Sombra para mejorar la legibilidad del texto */
}

.conteinerProducts {
  margin: 1rem auto;
}
.conteinerProducts .card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  align-items: center;
  height: 25rem;
  transition: transform 0.5s ease;
}
.conteinerProducts .card .cardDescription {
  position: absolute;
  bottom: 0;
}
.conteinerProducts .card:hover {
  transform: scale(1.2);
}

.productsTitle {
  margin-top: 1rem;
  text-align: center;
  font-size: 56px; /* Tamaño del texto */
  font-weight: bold; /* Estilo del texto (negrita) */
  text-shadow: 3px 3px 4px rgba(255, 226, 38, 0.941);
}

.conteinerHowWeWork {
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
}
.conteinerHowWeWork .card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  align-items: center;
  height: 25rem;
}
.conteinerHowWeWork .card .card-body {
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
}
.conteinerHowWeWork .card .card-body .card-title {
  background-color: #FFDE00;
  text-align: center;
  height: 2rem;
  font-weight: 800;
}
.conteinerHowWeWork .card .card-body .card-text {
  padding: 12px;
}

.contactPage {
  margin-top: 5rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.contactPage .contactBox {
  margin: 30px auto;
  width: 400px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.contactPage .contactBox .formTitle {
  text-align: center;
  font-size: 56px; /* Tamaño del texto */
  font-weight: bold; /* Estilo del texto (negrita) */
  text-shadow: 3px 3px 4px rgba(255, 226, 38, 0.941);
}
.contactPage .contactBox .contactForm {
  margin-left: 1rem;
  margin-right: 1rem;
}
.contactPage .contactBox .contactForm .contactFormButtons {
  display: flex;
  justify-content: space-around;
  padding-bottom: 1rem;
}
.contactPage .contactBox .contactForm .contactFormButtons .contactFormButton {
  border-radius: 10px;
  color: #FFDE00;
}

label {
  font-weight: bold;
}

input[type=text], textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

textarea {
  height: 150px;
  max-height: 300px;
  resize: vertical;
}

button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}

button[type=reset] {
  background-color: black;
}

.aboutUsTitle {
  margin-top: 1rem;
  text-align: center;
  font-size: 56px; /* Tamaño del texto */
  font-weight: bold; /* Estilo del texto (negrita) */
  text-shadow: 3px 3px 4px rgba(255, 226, 38, 0.941);
  margin-bottom: 3rem;
}

.iframe-container {
  position: relative;
  padding-bottom: 56.25%; /* Proporción 16:9 para iframe */
  overflow: hidden;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#aboutCard {
  height: fit-content;
}

.servicesTitle {
  margin-top: 1rem;
  text-align: center;
  font-size: 56px; /* Tamaño del texto */
  font-weight: bold; /* Estilo del texto (negrita) */
  text-shadow: 3px 3px 4px rgba(255, 226, 38, 0.941);
  margin-bottom: 3rem;
}

.iframe-container {
  position: relative;
  padding-bottom: 56.25%; /* Proporción 16:9 para iframe */
  overflow: hidden;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#serviceCard {
  height: fit-content;
}

.jumbotron-heading {
  margin-top: 1rem;
  text-align: center;
  font-size: 56px; /* Tamaño del texto */
  font-weight: bold; /* Estilo del texto (negrita) */
  text-shadow: 3px 3px 4px rgba(255, 226, 38, 0.941);
  margin-bottom: 1rem;
}

.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  align-items: center;
  height: 25rem;
}
.card .card-body {
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
}
.card .card-body .card-text {
  padding: 12px;
}

footer {
  background: rgb(2, 0, 36);
  background: linear-gradient(0deg, rgb(2, 0, 36) 0%, rgb(2, 0, 36) 53%, rgb(255, 222, 0) 88%, rgb(255, 255, 255) 100%);
  color: #FFDE00;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  /* Cambiado a columna en pantallas más pequeñas */
  align-items: center;
  /* Centra social-icons verticalmente */
  text-align: center;
  /* Centra el texto en el medio en pantallas pequeñas */
}
footer .infoBox {
  margin-top: 18rem;
  display: flex;
  flex-wrap: wrap;
  /* Permite que los elementos se envuelvan en pantallas más pequeñas */
  width: 100%;
  justify-content: space-between;
  /* Coloca contactBox y aboutBox en los extremos */
}
footer .infoBox .aboutBox {
  margin-left: 2rem;
  text-align: left;
}
footer .infoBox .contactBox {
  margin-top: 1rem;
  margin-right: 2rem;
  margin-left: 2rem;
  text-align: left;
}
footer .social-icons {
  display: flex;
  justify-content: center;
  /* Centra los íconos horizontalmente */
  margin-top: 5rem;
  /* Agrega espacio entre infoBox y social-icons en pantallas pequeñas */
}
footer .social-icons .social-icon {
  display: inline-block;
  margin: 0 10px;
  font-size: 24px;
  color: #ffde00;
  transition: transform 0.5s ease;
}
footer .social-icons .social-icon:hover {
  color: #a49999;
  transform: scale(1.8);
}/*# sourceMappingURL=styles.css.map */