.aboutUsTitle {
    margin-top: 30px;
    margin-bottom: 4rem;
    text-align: center;
    font-weight: 800;
  }
  
.aboutPage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .aboutUsBox {
        margin-left: 10rem;
        .card {
            margin: 0 auto; 
            float: none; 
            margin-bottom: 10px; 
            align-items: center;
            height: fit-content;
            .card-body {
                padding-right: 0px;
                padding-left: 0px;
                padding-top: 0px;
                .card-text {
                    padding: 12px;
                    text-align: center;
                  }
              }
          }
      }
  }

 