footer {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(2, 0, 36, 1) 53%,
    rgba(255, 222, 0, 1) 88%,
    rgba(255, 255, 255, 1) 100%
  );
  color: map-get($colors, jd-yellow);
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  /* Cambiado a columna en pantallas más pequeñas */
  align-items: center;
  /* Centra social-icons verticalmente */
  text-align: center;

  /* Centra el texto en el medio en pantallas pequeñas */
  .infoBox {
    margin-top: 18rem;
    display: flex;
    flex-wrap: wrap;
    /* Permite que los elementos se envuelvan en pantallas más pequeñas */
    width: 100%;
    justify-content: space-between;

    /* Coloca contactBox y aboutBox en los extremos */
    .aboutBox {
      margin-left: 2rem;
      text-align: left;
    }
    .logoJd {
      display: flex;
      justify-content: center;
      margin-left: 4rem;
      margin-right: 2rem;
    }
    .contactBox {
      margin-right: 2rem;
      margin-left: 2rem;
      text-align: left;
    }
  }

  .social-icons {
    display: flex;
    justify-content: center;
    /* Centra los íconos horizontalmente */
    margin-top: 5rem;

    /* Agrega espacio entre infoBox y social-icons en pantallas pequeñas */
    .social-icon {
      display: inline-block;
      margin: 0 10px;
      font-size: 24px;
      color: #ffde00;
      transition: transform 0.5s ease;
    }

    .social-icon:hover {
      color: #a49999;
      transform: scale(1.8);
    }
  }
}
