footer {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(2, 0, 36, 1) 53%,
    rgba(255, 222, 0, 1) 88%,
    rgba(255, 255, 255, 1) 100%
  );
  color: map-get($colors, jd-yellow);
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  /* Cambiado a columna en pantallas más pequeñas */
  align-items: center;
  /* Centra social-icons verticalmente */
  text-align: center;


  .infoBox {
    margin-top: 8rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;


    .aboutBox {
      margin-left: 1rem;
      text-align: left;
    }
    .logoJd {
      display: flex;
      justify-content: center;
      margin-left: 2rem;
      margin-right: 2rem;
    }
    .logoJd:hover {
      transform: scale(1.4);
    }
    .contactBox {
      margin-right: 1rem;
      text-align: left;
    }
  }

  .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 5rem;

    
    .social-icon {
      display: inline-block;
      margin: 0 10px;
      font-size: 24px;
      color: #ffde00;
      transition: transform 0.5s ease;
    }

    .social-icon:hover {
      color: #a49999;
      transform: scale(1.8);
    }
  }
}

/* Estilos específicos para pantallas de escritorio y notebook */
@media (min-width: 768px) {
  footer .infoBox {
    margin-top: 8rem;
  }
}

/* Estilos específicos para dispositivos móviles */
@media (max-width: 767px) {
  footer .infoBox {
    flex-direction: column;
    align-items: center;
    margin-top: 15rem;
  }
  footer .infoBox .aboutBox,
  footer .infoBox .contactBox,
  footer .infoBox .logoJd {
    margin: 1rem 0;
  }
  footer .social-icons {
    margin-top: 2rem;
  }
}
