.jumbotron-heading {
    margin-top: 1rem;
    text-align: center;
    font-size: 56px; /* Tamaño del texto */
    font-weight: bold; /* Estilo del texto (negrita) */
    text-shadow: 3px 3px 4px rgba(255, 226, 38, 0.941); 
    margin-bottom: 1rem; 
}

.card {
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px; 
    align-items: center;
    height: 25rem;
    .card-body {
        padding-right: 0px;
        padding-left: 0px;
        padding-top: 0px;
        .card-text {
            padding: 12px;
          }
      }
  }