* {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
}

/* Seteo de fuente a todo el body */
body {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Establece el alto mínimo de la página al 100% del viewport height (vh) */
    margin: 0;
    padding: 0;
    
  }