 
.servicesTitle {
        margin-top: 1rem;
        text-align: center;
        font-size: 56px; /* Tamaño del texto */
        font-weight: bold; /* Estilo del texto (negrita) */
        text-shadow: 3px 3px 4px rgba(255, 226, 38, 0.941); 
        margin-bottom: 3rem;    
}

.iframe-container {
    position: relative;
    padding-bottom: 56.25%; /* Proporción 16:9 para iframe */
    overflow: hidden;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#serviceCard {
    height: fit-content;
    .card-text{
        margin-top: 2px;
        margin-bottom: 6px;
        padding: 0px 12px 0px 12px;
    }
}